p {
  /* font-style: italic; */
  /* font-size: 30px; */
  font-weight: 500;
  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Oswald", sans-serif;
  line-height: 40px;
}

#firstPara {
  background-color: yellow;
  color: blue;
}
#secondPara {
  background-color: rgb(84, 74, 224);
  color: white;
}

#thirdPara {
  background-color: rgba(101, 177, 130, 0.315);
  color: white;
}

.first-class {
  background-color: hsl(140, 100%, 50%);\
  
}

.second-class{
    background-color: hsla(140, 100%, 50%, 0.4);
}